<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.darkmarksdoe.basketboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LoginStyle"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Vistas.Actividades.PartidoActualActivity"
            android:label="@string/title_activity_partido_actual"
            android:theme="@style/LoginStyle"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Vistas.Actividades.CrearPartidoActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Vistas.Actividades.PrincipalActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Vistas.Actividades.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vistas.Fragmentos.PartidosFragment"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>